
* { padding:0; margin:0; box-sizing:border-box;}

@media all and (min-width:300px) and (max-width:700px)
{


.body
{
background-color:black; font-family:"sans"; line-height:45px; color:lime;


}	


.header
{

grid-column-start:1; grid-column-end:3; height:100px; width:100%;

overflow:hidden; display:flex; justify-content:space-between;

align-items:center; text-indent:10px; color:white;

background:linear-gradient(-45deg,crimson,crimson); position:relative; top:0;

left:0;
}

.menu
{

display:flex; flex-direction:column; justify-content:center;

align-items:center; margin-right:10px; transition-duration:2s;

transition-property:transform;

}

.mhr
{

height:6px; width:45px; margin:5px; border:none; background-color:white;

}

.nav
{

position:absolute; top:0; left:0; z-index:3;

min-height:100vh; width:0%; background-color:black;

display:flex; transition-property:width; transition-duration:2s;

overflow-x:hidden; overflow-y:scroll; opacity:1;

align-items:center; justify-content:center; flex-direction:column;

padding-bottom:500px;

}

.nav div
{
overflow-y:scroll; height:100%; width:100%;

display:flex; align-items:center; justify-content:center; flex-direction:column;

}

.nav details
{

position:relative; height:auto; overflow-x:hidden; z-index:5;

overflow-y:scroll; 

display:flex; align-items:center; justify-content:center;

flex-direction:column;

}

.nav summary { color:black; height:50px; width:150px;

display:flex; justify-content:center; align-items:center; 

 background-color:springgreen; margin:5px;
}

.hide_nav
{

height:50px; width:150px; background-color:red; color:white;

display:flex; align-items:center; justify-content:center;

}


/* =================================================== */

.main
{

min-height:100vh; margin-top:10px; margin-bottom:10px;

}

.s1
{

display:flex; flex-direction:column; align-items:center; 

justify-content:center;

}

.learn_programming, .learn_web, .learn_linux
{

height:auto; width:100%; 

/*display:flex; align-items:stretch; justify-content:space-around; */

display:grid; grid-template-columns:100%; 

grid-template-rows:auto auto auto; justify-content:center; align-items:center;


}

.learn_programming div, .learn_web div, .learn_linux div
{

min-height:700px;width:100%; 

display:flex; align-items:center; justify-content:space-between;

flex-direction:column; padding-top:30px; border-top:2px solid black;

margin-top:10px; padding:20px;

}



/* ====================================== */
.clang
{

background:linear-gradient(-45deg,blue,purple); color:white;


}

.cpp
{

background:linear-gradient(-45deg,crimson,darkmagenta); color:white;

}

.python
{
background:linear-gradient(-45deg,blue,purple); color:white;


}

.clang h3, .cpp h3, .python h3
{

background-color:black; width:150px;

display:flex; align-items:center; justify-content:center;

color:white; 

}


.learn
{

display:flex; padding:10px; justify-content:space-around; align-items:center;

background-color:black; width:150px;  margin:10px;

bottom:10px; right:0px; position:relative; 

box-shadow:10px 10px 20px black; 


transition-duration:0.5s; transition-property:transform;

}

.learn:hover, .learn:active,  .learn:focus
{

 border-radius:10px; transform:scale(0.8,0.8);


}

/* =============================================== */

.html_css
{

display:flex; flex-direction:column; align-items:flex-end;

justify-content:; height:700px; 

background-color:crimson; color:white;

} 


.javascript
{

display:flex; flex-direction:column; align-items:flex-end;

justify-content:; height:700px; 

background:linear-gradient(-45deg,yellow,gold); color:black;

}
 .javascript .learn { color:white;}

.php_mysql
{

display:flex; flex-direction:column; align-items:flex-end;

justify-content:; height:700px; 

background:linear-gradient(to bottom,black,blue); color:white;

} .php_mysql h3 { border-top:2px solid cyan;}


.html_css h3, .javascript h3, .php_mysql h3
{

background-color:black; min-width:150px;  color:white;

display:flex; align-items:center; justify-content:center;

}


/* =============================================== */

.basic_linux h3, .server_linux h3, .hacking_linux h3
{


background-color:black; min-width:150px; color:white;

display:flex; align-items:center; justify-content:center;

}


.basic_linux
{


display:flex; flex-direction:column; align-items:flex-end;

justify-content:; height:700px; 

background:linear-gradient(to bottom,blue,purple); color:white;

}

.server_linux
{

display:flex; flex-direction:column; align-items:flex-end;

justify-content:; height:700px; 

background:linear-gradient(to bottom,crimson,blue); color:white;

}

.hacking_linux
{


display:flex; flex-direction:column; align-items:flex-end;

justify-content:; height:700px; 

background:rgb(33,33,33); color:white;

} 

/* ============================================= */



.a2
{

display:grid; grid-template-columns:100%;

grid-template-rows:150px 150px; justify-content:center; align-items:center;

}


.a2 section
{

display:flex; flex-direction:column; align-items:center;

justify-content:center;
}

/* ===================== */

.information{



padding:20px; color:black; font-size:20px; margin:10px;

font-family:"Ariel"; letter-spacing:1px;

background:linear-gradient(-45deg,springgreen,springgreen);

display:flex; flex-direction:column; align-items:center;

justify-content:center; 

}



.information details a
{

 color:white; background-color:black; padding:10px;
 

}

.information a:hover, .information a:focus, .information a:active
{

box-shadow:10px 10px 50px black;

}



/* ============================================== */
.aside
{

display:grid; grid-template-columns:100%;

align-items:center; justify-content:center;

}

.aside div 
{

display:flex; flex-direction:column; align-items:center;

}


.aside a
{
 display:flex; text-decoration:none; color:white; height:50px;

font-style:bold;  width:150px;

justify-content:center; align-items:center; margin:5px;

}

.aside a:hover, .aside a:focus, .aside a:active
{
 box-shadow:10px 10px 50px lime; color:lime;

}


/* =============================================== */

.footer
{
height:100px; width:100%; overflow:hidden; display:flex; 

align-items:center; justify-content:center; 

background:linear-gradient(-45deg,blue,crimson); color:white;

}

a:link  { text-decoration:none; color:white; border-bottom:none;}







}
